/* -------------------------------------------- */
/* Container-6 Start */

.container-6 {
  display: flex;
  flex-direction: column;
  padding: var(--gap);
  text-align: center;
  font-size: clamp(1.5rem, 5vw, 3rem);
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
}

.container-6 span:nth-child(2) {
  font-size: clamp(1rem, 5vw, 2rem);
}

.container-6 .divider {
  margin-top: 1rem;
  width: clamp(10rem, 10vw, 30rem);
  height: 3px;
  border-radius: 20px;
  background-color: var(--theme);
}

/* Container-6 End */
/* -------------------------------------------- */
