/* -------------------------------------------- */
/* Container-10 Start */

.container-10 {
  display: flex;
  flex-direction: column;
  padding: var(--gap);
  gap: var(--gap);
}

.container-10 .title {
  color: var(--theme);
  font-family: "bree serif";
  font-size: clamp(1.2rem, 5vw, 2rem);
}

.container-10 details {
  background-color: #f8f9fa;
  padding: var(--gap);
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.container-10 details summary {
  background-color: #343a40;
  color: #ffffff;
  padding: var(--gap);
  border-radius: 5px;
  cursor: pointer;
}

.container-10 details[open] summary {
  background-color: #495057;
}

.container-10 details[open] {
  background-color: #f8f9fa;
  border-color: #adb5bd;
}

/* Container-10 End */
/* -------------------------------------------- */
