/* -------------------------------------------- */
/* Container-3 Start */

:is(.container-3, .image-container) .figure {
  animation: slide 0.1s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

/* Container-3 End */
/* -------------------------------------------- */