/* -------------------------------------------- */
/* Container-2 Start */

.container-2 {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  text-align: center;
  padding: var(--gap);
  justify-content: center;
}

.container-2 .container-item {
  background-color: var(--theme);
  color: #fffffe;
  padding: var(--gap);
  width: clamp(16rem, 10vw, 20rem);
  border-radius: var(--gap);
}

/* Container-2 End */
/* -------------------------------------------- */