/* -------------------------------------------- */
/* Container-4 Start */

.container-4 {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: var(--gap);
}

.left-box,
.right-box {
  max-width: 30rem;
}

.left-box .title {
  font-size: clamp(1rem, 10vw, 3rem);
}

.left-box .text {
  margin: 1rem 0;
  font-size: clamp(1rem, 5vw, 2rem);
  color: var(--secondary-text);
}

.right-box iframe {
  max-width: 16rem;
}

@media (max-width: 500px) {
  .container-4 {
    display: block;
  }
}

/* Container-4 End */
/* -------------------------------------------- */
