/* -------------------------------------------- */
/* Container-7 Start */

.container-7 {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: var(--gap);
}

.container-7 .title {
  font-size: clamp(1.5rem, 5vw, 2rem);
  color: var(--theme);
}

/* Container-7 End */
/* -------------------------------------------- */
