/* -------------------------------------------- */
/* Container-5 Start */

.container-5 {
  display: flex;
  gap: var(--gap);
  text-align: center;
  flex-direction: column;
}

.container-5 .title {
  font-size: clamp(1rem, 5vw, 2rem);
}

/* Container-5 End */
/* -------------------------------------------- */
