@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* -------------------------------------------- */
/* HTML body Start */

:root {
  --gap: 0.75rem;
  --white: #fffffe;
  --black: #121212;
  /* --theme: #8282ee; */
  --secondary-text: #444444;
  --theme: #0c309f;
  --transition: all 0.3s ease;
  --blur: blur(1rem) saturate(180%);
  --shadow: 0 1px 2px #12121230, inset 1px 2px 3px #fffffe30;
}

p {
  color: var(--black);
}

/* HTML body End */
/* -------------------------------------------- */